html {
  font-size: 100%;
}

#poker-players-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dogerblue;
  padding: 0.4em;
}

#poker-players-grid div {
  /* background-color: #eee; */
  border: 0.0125em solid black;
  /* padding: 10px; */
  padding: 1%;
  /* font-size: 25px; */
  font-size: 1.5em;
  text-align: center;
}

.button {
  background-color: #ccc;
  border: none;
  color: #000;
  padding: 0.4em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.25em 0.125em;
  cursor: pointer;
}
